@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300..800&display=swap");

body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Nunito";
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

#spotify-widget {
    width: 300px;
    font-family: Arial, sans-serif;
}

.container {
    opacity: 0;
    display: flex;
    width: 325px;
    padding: 10px;
    background: #171717;
    color: #000000;
    border-radius: 12px;
    align-items: center;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
    transform: translateX(-500px);
    overflow: hidden;
}

.container.raise {
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
    opacity: 1;
    transform: translateX(0);
}

.container.active {
    opacity: 1;
    transition: opacity 0.4s ease;
}

#cover-new {
    max-height: 60px;
    width: auto;
    border-radius: 7px;
    z-index: 1;
    transition: opacity 0.4s ease;
}

#coveroverlay {
    position: absolute;
    height: 60px;
    width: 60px;
    transition: background-color 0.4s ease;
    z-index: 5;
    background-color: #171717ff;
}

#coveroverlay.active {
    position: absolute;
    height: 60px;
    width: 60px;
    transition: background-color 0.4s ease;
    z-index: 5;
    background-color: #17171700;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: "Nunito";
    font-weight: 800;
}

h4 {
    color: white;
    font-size: 19px;
    font-family: "Nunito";
    font-weight: 300;
}

h2.scrolling {
    animation: slide 30s ease-in infinite;
}

h4.scrolling {
    animation: slide 30s ease-in infinite;
}

h4,
h2 {
    margin-top: 5px;
    /*font-size: 20px;*/
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    opacity: 0;
    padding-left: 0px;
    width: min-content;
    transform: translateX(-50px);
    flex-grow: 0;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

h4.active,
h2.active {
    opacity: 1;
    transform: translateX(0);
}

h4.drop,
h2.drop {
    transform: translateX(100px);
}

@keyframes slide {
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%) translateX(255px);
    }
    75% {
        transform: translateX(-100%) translateX(255px);
    }
    100% {
        transform: translateX(0%);
    }
}

.main {
    margin-left: 10px;
    overflow: hidden;
}

#rfade {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 70px;
    /* background: linear-gradient(to left, #171717ff, #17171700); */
    z-index: 1;
    transition: opacity;
}

#lfade {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0px;
    width: 80px;
    height: 70px;
    /* background: linear-gradient(90deg, #171717 0%, #171717 88%, #171717ff 100%); */
    z-index: 1;
    transition: opacity;
}

#rfade.active {
    opacity: 100;
    transition: opacity;
}

#lfade.active {
    opacity: 100;
    transition: opacity;
}

/* Bars */

@keyframes pulse {
    0%,
    100% {
        height: 10px;
        y: 15px;
    }
    50% {
        height: 30px;
        y: 5px;
    }
}

.bar {
    fill-opacity: 0;
    fill: #ffffff;
    transition: fill-opacity 0.4s ease;
}

.bar.active {
    fill-opacity: 0.4; /* 0.2 */
    transition: fill-opacity 0.4s ease;
}

.bars {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 10px;
}
